.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  list-style: none;
  display: flex;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  list-style-type: none; 
  vertical-align: middle;
}

.textTodo {
  position:absolute;
  left:35vw;
  font-size: xx-large;
}

.compBtn {
  position:absolute;
  left:50vw;
  font-size: large;
}

.removeBtn {
  position:absolute;
  left:55vw;
  font-size: large;
}